/*body {*/
/*    padding-top: 50px;*/
/*    padding-bottom: 20px;*/
/*}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: white !important;
    border-radius: 0px !important;
}
.main-footer {
    background-color: #eeeeee;

}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ffffff;
    z-index: 800;
}
#body-content {

    margin-right: 5px !important;
    margin-left: 5px !important;
}
.table>tbody>tr:first-child {
    color: #222d32 !important;
    font-family: "Baskerville Old Face";
    font-size: 14px;
    font-weight: bold;
    background-color: #f9f9f9 !important;
    border: 1px solid #f4f4f4;
}
.table > tbody > tr>td:first-child {
    color: #fa8072 !important;
  background-color: #f9f9f9 !important;
    border: 1px solid #f4f4f4;
}

